@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: "Avenir Next", "Avenir", sans-serif; */

}
body
{
    min-height: 1000px;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;   
    height: 20vh;
    padding: 0 100px;
    background: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.5s;
}
header.sticky
{
    height: 80px;
}
header .banner
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    opacity: 0.7;
}
header.sticky .banner{
    opacity: 0.05;

}

header .logo
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    color: #fff;
    font-weight: 700;
    transition: 1s;
    text-decoration: none;
    z-index: 1;
}
header.sticky .logo
{
    position: absolute;
    font-size: 2em;
    left: 100px;
    transform: translate(0, -50%);
}

/* 搜尋 */
header .search input
{
    width:35rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    background: #fff;
    padding: 0 2rem;
    font-size: 1.5rem;
    color: #000;
    transition: 0.5s;
    opacity: 0;
}
header.sticky .search input
{
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.75s;
    opacity: 1;
    visibility: visible;
}

nav
{
    position: relative;
    display: flex;
    z-index: 1;
}
nav ul
{
    position: relative;
    display: flex;
    transition: 0.25s;
    transform: translateX(0);
    opacity: 1;
}
header.sticky nav ul
{
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.75s;
    opacity: 1;
    visibility: visible;
}
nav ul li
{
    list-style: none;
}
nav ul li a
{
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.2em;
    text-decoration: none;
}
nav ul li a:hover
{
    color: #ff275f;
    transform: scale(1.2) translate(-5px, -5px);
}
section
{
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 50vh;
    padding: 100px;
}
section img
{
    width: 100%;
}

/* 設定icon */
nav ul li a ion-icon
{
    padding: 50px 0px 35px 30px;
    height: 30px;
    width: 30px;
}

/* Make it responsive! */
@media(max-width: 991px)
{
    section,
    header
    {
        padding: 40px;

    }
    section h2
    {
        font-size: 2em;
    }
    header.sticky .logo
    {
        left: 40px;
    }
    header.sticky .banner
    {
        opacity: 0;
    }

    header .menuToggle
    {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    
    nav ul
    {
        /* 這三種寫法似乎都是一樣的意思，其實寫一個就行了! */
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    nav.active ul
    {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        /* calc(裡面的空格一定要注意，不然跑不動!) */
        height: calc(100% - 80px);
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    nav ul li a
    {
        font-size: 1.5em;
        padding: 5px 15px;
    }
    header.sticky .toggle
    {
        /* position: fixed 就是把它固定在那個位置不會移動 */
        position: fixed;
        top: 15px;
        right: 40px;
        width: 50px;
        height: 50px;
        background: #fff url(menu_style.css);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .toggle.active
    {
        background: #ff275f url(#);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
}
